   #header{
        height: 613px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("../img/hero-pattern.svg");
        
            .header-body{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .header-body-text{
                    .header-body-text-head{
                        font-size: 40px;
                        font-weight: 700;
                        line-height: 1.4;
                        color: #fff;
                        margin-bottom: 30px;

                    }
                    .header-body-text-content{
                        font-size: 17px;
                        font-weight: 300;
                        line-height: 28px;
                        
                        color: #fff;
                        margin-bottom: 40px;
                        opacity: 0.75;

                    }
                    .header-body-text-buttons{
                        display: flex;
                        align-items: center;
                        
                        .btn-dicovery{
                            .discovery{
                                width: 189px;
                                height: 58px;
                                background-color: transparent;
                                border: 1px solid white;
                                outline: white;
                                color: white;
                                border-radius: 100px;
                                font-size: 15px;
                                font-weight: 600;
                                margin-right: 20px;
                            }
                            .discovery:hover{
                                background-color: white;
                                color: black;
                                text-transform: capitalize;
                                transition: all 0.5s ease;
                                animation: pulseWhite 1s ease-in-out;
                            }

                        }
                        .btn-read-more{
                            .readmore{
                                width: 158px;
                            height: 58px;
                            background-color: white;
                            border: 1px solid white;
                            outline: white;
                            color: black;
                            border-radius: 100px;
                            font-size: 15px;
                            font-weight: 600;
                            }
                            .readmore:hover{
                                background-color: transparent;
                                color: white;
                                text-transform: capitalize;
                                transition: all 0.5s ease;
                            }
                            

                        }
                    }

                }
            }
           
        
    }