body,*{
    margin: 0;
    padding: 0;
    font-family: $main-font-family;
}

.container{
    width: 1110px;
    height: 100%;
}

a{
    text-decoration: none !important;
}

.owl-dots{
    left: 520px;
    
    position: absolute;
    bottom: -50px;
    .owl-dot{
        span{
            width: 25px !important;
            height: 7px !important;
            background-color: #5268F2 !important;
        }
    }
}